<div class="gs-main gs-mps">
    <h1><%= title %></h1>
    <div class="gs-tabs">
        <button class="gs-tab-link" g-src="/mps/products" g-tab-id="gs-products">Products</button>
        <button class="gs-tab-link" g-src="/mps/workcenters" g-tab-id="gs-workcenters">Work Centers</button>
        <button class="gs-tab-link" g-src="/mps/replenish" g-tab-id="gs-replenish">Replenish</button>
        <button class="gs-tab-link" g-src="/mps/start" g-tab-id="gs-Scheduling">Scheduling</button>
    </div>

    <div class="gs-tab-content" id="gs-products">
    </div>
    <div class="gs-tab-content" id="gs-workcenters">
    </div>
    <div class="gs-tab-content" id="gs-replenish">
    </div>
    <div class="gs-tab-content" id="gs-Scheduling">
    </div>
    
</div>
